[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
autopep8 = "*"
coverage = "*"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-python3-ldap = "*"
django-extensions = "*"
werkzeug = "*"
django-model-utils = "*"

[requires]
python_version = "3.8"
